{% spaceless %}
    <div class="content data-area-list">
        <table class="table table-hover"
               data-bind="table: list, headerTemplate: 'list_table_header', itemTemplate: 'list_table_items'">
        </table>

        <div data-bind="pagination: pagination"></div>
    </div>

    {# TODO: Too much logic here, it should be moved to controller layer somehow #}

    {% if deleteRouteName is not defined %}
        {% if removeRouteName is defined %}
            {% set deleteRouteName = removeRouteName %}
        {% endif %}
    {% endif %}

    {% if route is defined %}
        {% if addRouteName is not defined %}
            {% set addRouteName=route ~ "Add" %}
        {% endif %}

        {% if deleteRouteName is not defined %}
            {% set deleteRouteName=route ~ "Delete" %}
        {% endif %}

        {% if editRouteName is not defined %}
            {% set editRouteName=route ~ "Edit" %}
        {% endif %}
    {% endif %}

    {% if addParams is not defined %}
        {% set addParams={} %}
    {% endif %}

    {% if additionalActions is not defined %}
        {% set additionalActions={} %}
    {% endif %}

    {% if additionalHeaderActions is not defined %}
        {% set additionalHeaderActions={} %}
    {% endif %}

{% endspaceless %}
{% include "HexmediaAdministratorBundle:Table:list_table_header.html.twig" with {'addRouteName' : addRouteName, 'params': addParams, 'additionalActions': additionalHeaderActions} %}
{% include "HexmediaAdministratorBundle:Table:list_table_items.html.twig" with {'editRouteName' : editRouteName, 'deleteRouteName' : deleteRouteName, 'additionalActions': additionalActions} %}

