<!DOCTYPE html>
<html>
{% spaceless %}
    <title>{% block title %}{{ 'CMS'|trans }}{% endblock title %}</title>
    {{ include ("HexmediaAdministratorBundle:Partial:head.html.twig") }}
{% endspaceless %}
{% block head_script %}{% endblock %}
{% block head_style %}{% endblock %}
<body>
{% block body %}{% endblock %}
</body>
</html>