@font-face {
  font-family: 'roboto';
  src: url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Bold-webfont.eot');
  src: url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Bold-webfont.woff') format('woff'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Medium-webfont.eot');
  src: url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Medium-webfont.woff') format('woff'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Medium-webfont.svg#robotobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Regular-webfont.eot');
  src: url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Regular-webfont.woff') format('woff'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Regular-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Italic-webfont.eot');
  src: url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Italic-webfont.woff') format('woff'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Italic-webfont.ttf') format('truetype'), url('@HexmediaAdministratorBundle/Resources/public/fonts/roboto/Roboto-Italic-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: roboto;
}
select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
textarea.form-control {
  height: 300px;
}
.raptor-editing {
  overflow: scroll;
}
body {
  background: #efefef;
}
.container,
.row {
  width: 100%;
  max-width: 100%;
}
.col-md-1 {
  width: 8.3%;
}
.col-md-2 {
  width: 16.6%;
}
.col-md-3 {
  width: 25%;
}
.col-md-4 {
  width: 33.3%;
}
.col-md-5 {
  width: 41.6%;
}
.col-md-6 {
  width: 50%;
}
.col-md-7 {
  width: 58.3%;
}
.col-md-8 {
  width: 66.6%;
}
.col-md-9 {
  width: 75%;
}
.col-md-10 {
  width: 83.3%;
}
.col-md-11 {
  width: 91.6%;
}
.col-md-12 {
  width: 100%;
}
.btn-primary,
.btn-primary:hover {
  background-color: #21c143;
  border-color: #8c8c8c;
}
.btn-primary [class^="icon"],
.btn-primary:hover [class^="icon"] {
  color: #ffffff;
}
.btn-blue,
.btn-blue:hover {
  background-color: #3545a5;
  color: #ffffff;
}
[class^="icon"] {
  color: #21c143;
}
input[type='text'],
select,
textarea,
.chosen-choices {
  border-radius: 3px;
  border: 1px solid #8c8c8c;
  color: #8c8c8c;
}
input[type='text']:active,
select:active,
textarea:active,
.chosen-choices:active,
input[type='text']:focus,
select:focus,
textarea:focus,
.chosen-choices:focus,
input[type='text']:hover,
select:hover,
textarea:hover,
.chosen-choices:hover {
  border-color: #21c143;
  color: #21c143;
  -webkit-box-shadow: inset 0 1px 1px #21c143, 0 0 8px #21c143;
  box-shadow: inset 0 1px 1px #21c143, 0 0 8px #21c143;
}
.chosen-choices {
  padding: 5px;
}
.chosen-choices .search-field input[type="text"] {
  height: 25px !important;
}
legend {
  color: #3545a5;
  font-size: 30px;
  border-bottom: 1px solid #3545a5;
}
.main .hexmedia_hex {
  /*background-image:;*/

}
.main .header {
  margin: 0 -15px;
  padding: 0 15px;
  height: 110px;
  background: #ffffff;
  border-bottom: 3px solid #e2e2e2;
}
.main .header img.client_logo {
  display: block;
  float: left;
  width: auto;
  margin-top: 30px;
}
.main .header h1.cms {
  display: block;
  float: left;
  width: 100px;
  padding-top: 11px;
  font-size: 41px;
  padding-left: 10px;
  color: #8c8c8c;
}
.main .header div.user-bar {
  float: right;
}
.main .header div.user-bar div.powered-by {
  padding-top: 30px;
  color: #b6b6b6;
}
.main .header div.user-bar div.powered-by img {
  margin-top: -4px;
}
.main > .content {
  background: #efefef;
}
.main > .content .menu {
  background: #3545a5;
}
.main > .content .nav {
  background: #3545a5;
  margin: 0 -15px;
}
.main > .content .nav li {
  padding: 10px 0;
  background-color: #3545a5;
  border: 0;
  text-align: center;
}
.main > .content .nav li i[class^="icon"] {
  color: #21c143;
  font-size: 20px;
  text-align: center;
}
.main > .content .nav li.active,
.main > .content .nav li:hover {
  background-color: #efefef;
}
.main > .content .nav li.active a,
.main > .content .nav li:hover a {
  color: #444444;
}
.main > .content .nav li a {
  border: 0;
  color: #ffffff;
}
.main > .content .pagination {
  margin: 10px auto;
  text-align: center;
}
.main > .content .buttons-bar {
  width: 100%;
  margin-bottom: 5px;
  text-align: right;
  padding-right: 30px;
  margin-bottom: 20px;
}
.main > .content .buttons-bar .btn {
  margin-left: 10px;
}
.main > .content .buttons-bar .btn-group + .btn-group {
  margin-left: 0;
}
.main > .content .buttons-bar .dropdown-menu {
  min-width: 0;
}
.main > .content .buttons-bar .dropdown-menu a {
  text-align: left;
}
.main > .content .main-content .breadcrumb {
  background: transparent;
}
.main > .content .main-content .breadcrumb,
.main > .content .main-content .breadcrumb a {
  color: #3545a5;
  font-size: 30px;
}
.main > .content .main-content div.pagination {
  text-align: center;
  width: 100%;
}
.main > .content .main-content .lang-perma-nav {
  clear: both;
}
.main > .content .main-content .lang-perma-nav .nav {
  float: right;
  display: inline-block;
  border-bottom: 0;
  margin-bottom: 0;
  clear: right;
}
.main > .content .main-content .lang-perma-nav label {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}
.main > .content .form-horizontal .box {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.main > .content .form-horizontal .box textarea {
  width: 98%;
  padding: 1%;
  min-height: 100px;
}
.main > .content .form-horizontal .box .content-nav {
  clear: both;
  overflow: hidden;
}
.main > .content .form-horizontal .box .content-nav .nav {
  float: right;
  border-bottom: 0;
  margin-bottom: 0;
}
.main > .content .data-area-grid {
  padding: 30px;
}
.main > .content .data-area-grid .data-grid-element {
  width: 170px;
  height: 215px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  float: left;
  padding: 10px;
  border: 1px solid #3545a5;
  border-radius: 5px;
  margin: 10px;
  position: relative;
}
.main > .content .data-area-grid .data-grid-element .img {
  height: 150px;
  width: 150px;
  text-align: center;
}
.main > .content .data-area-grid .data-grid-element h5 {
  display: block;
  width: 150px;
  margin: 10px auto 0 auto;
  overflow: hidden;
}
.main > .content .data-area-grid .data-grid-element .icon-remove,
.main > .content .data-area-grid .data-grid-element .icon-edit {
  display: none;
}
.main > .content .data-area-grid .data-grid-element:hover .icon-remove,
.main > .content .data-area-grid .data-grid-element:hover .icon-edit {
  display: block;
  position: absolute;
  top: 5px;
}
.main > .content .data-area-grid .data-grid-element:hover .icon-remove {
  right: 5px;
}
.main > .content .data-area-grid .data-grid-element:hover .icon-edit {
  right: 18px;
}
.modal.media .modal-dialog {
  width: 98%;
}
.modal.media .modal-dialog .grid-content {
  width: 95%;
}
.attached-media {
  clear: both;
}
.attached-media .attached-img {
  float: left;
  width: 30px;
  height: 30px;
  background: #fff;
  margin: 3px;
  position: relative;
}
.attached-media .attached-img i.icon-remove-sign {
  position: absolute;
  right: 1px;
  top: 1px;
}
.attached-media.preview-big_admin_square .attached-img {
  width: 300px;
  height: 300px;
  line-height: 300px;
  vertical-align: middle;
}
.clear {
  clear: both;
}
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen-container a {
  cursor: pointer;
}
/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 23px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}
.chosen-container-single .chosen-default {
  color: #999;
}
.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat 0px 2px;
}
.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-container-single .chosen-search input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: #ffffff url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat 100% -20px;
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat 100% -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat 100% -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat 100% -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat 100% -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}
/* @end */
/* @group Results */
.chosen-container .chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
}
.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}
.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}
.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
.chosen-container .chosen-results li.no-results {
  display: list-item;
  background: #f4f4f4;
}
.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}
.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}
.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}
/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}
.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 5px;
  height: 15px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #666;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.chosen-container-multi .chosen-choices li.search-field .default {
  color: #999;
}
.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 0 3px 5px;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}
.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}
.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}
/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}
.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #111 !important;
}
/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}
/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: #ffffff url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat -30px -20px;
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat -30px -20px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat -30px -20px, -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat -30px -20px, -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat -30px -20px, -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite.png') no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}
/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url('@HexmediaAdministratorBundle/Resources/public/images/chosen-sprite2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
