@headerFontSize: 18px;

// FIXME: I need to find solution how to import this variables from other bundle
@inputBorder: #ccc;

@headerBackground: #fff;
@contentBackground: #efefef;
@menuBackgroundHover: #ccc;

@headerBorder: #e2e2e2;

@navTextColor: #fff;
@navTextColorHover: #444;

@menuBackground: #3545a5;

@inputColor: #8C8C8C;

@hexmediaColor: #b6b6b6;

@iconColor: #21c143;

@hexmediaHex: '@HexmediaAdministratorBundle/Resources/public/images/hex.jpg';


@import "fonts.less";

// FIXME: Not beauty but working:)
@import "cms.less";