<div class="sort">
    <a href="{{ path(route ~ "Sort", routeParams|merge({'id': entity.id, direction: 1})) }}" class="fa fa-sort-desc"></a>
    <a href="{{ path(route ~ "Sort", routeParams|merge({'id': entity.id, direction: 0})) }}" class="fa fa-sort-asc"></a>
</div>