<div class="sort">
    <a href="{{ path(route ~ "Sort", routeParams|merge({'id': entity.id, direction: 1})) }}" class="icon-sort-up"></a>
    <a href="{{ path(route ~ "Sort", routeParams|merge({'id': entity.id, direction: 0})) }}" class="icon-sort-down"></a>
</div>